@model ServicesMail
@{
    ViewData["Title"] = "Request Services";
}
<h1>@ViewData["Title"]</h1>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }

        input[type=submit] {
            background-color: #04AA6D;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            input[type=submit]:hover {
                background-color: #45a049;
            }
    </style>
</head>
<body>

    <h3>What services do you require? (Summary of form will be sent to signed-in user's email)</h3>

    <div class="container">
        <br />
        <form method="post">
            <div>
                <label asp-for="@Model.FirstName"></label>
                <input type="text" asp-for="@Model.FirstName" id="fname" name="firstname" placeholder="Your name.." required field="firstname">
                <span class="text-danger" asp-validation-for="@Model.FirstName"></span>
            </div>
            <div>
                <label asp-for="@Model.LastName"></label>
                <input type="text" asp-for="@Model.LastName" id="lname" name="lastname" placeholder="Your last name.." required field="lastname">
                <span class="text-danger" asp-validation-for="@Model.LastName"></span>
            </div>
            <div>
                <label asp-for="@Model.Services"></label>
                <select id="services" name="services" asp-for="@Model.Services" required>
                    <option value=""></option>
                    <option value="Waste Cleanup">Waste Cleanup</option>
                    <option value="Solar Panels Installation">Solar Panels Installation</option>
                    <option value="Electric Vehicle Services">Electric Vehicle Services</option>
                </select>
            </div>
            <div>
                <label asp-for="@Model.Message"></label>
                <textarea id="subject" name="message" asp-for="@Model.Message" placeholder="Write your message here..." style="height:200px"></textarea>
                <span class="text-danger" asp-validation-for="@Model.Message"></span>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>

</body>