@model GlobalDatabase.Models.Pollution

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pollution</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvgTemperature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvgTemperature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Population)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Population)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PollutionLevels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PollutionLevels)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarbonEmissions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarbonEmissions)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PollutionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
