@model IEnumerable<GlobalDatabase.Models.Pollution>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgTemperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Population)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PollutionLevels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarbonEmissions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgTemperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Population)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PollutionLevels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarbonEmissions)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PollutionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PollutionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PollutionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
